/* RESET STYLES */
body {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}


/* SLIDE */
.slide {
  display: flex;
  /* transition: .3s; */
}

.slide:hover {
  will-change: transform;
}

.slide .slide-wrapper {
  overflow: hidden;
}

.slide .item {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.slide .item.active-slide {
  opacity: 1;
  transform: scale(1);
}