/* RESET STYLES */
body {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}


/* SLIDE */
.slide {
  display: flex;
  /* transition: .3s; */
}

.slide .slide-wrapper {
  overflow: hidden;
}

.slide .item {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
}