/* RESET STYLES */
body {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}


/* SLIDE */
.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide .item {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 14px rgba(0,0,0,.2);
}

.slide .item.active-slide {
  opacity: 1;
  transform: scale(1);
  cursor: grab;
}

.slide .item.active-slide:active {
  cursor: grabbing;
}

.controls {
  text-align: center;
  margin-top: 20px;
}

.controls button {
  border: none;
  color: rgba(0,0,0,.6);
  padding: 5px;
  font-size: 25px;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.controls button:hover {
  color: rgba(0,0,0,1);;
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  padding: 0px;
}

[data-control="slide"] li {
  list-style: none;
}

[data-control="slide"] li a {
  text-decoration: none;
  color: rgba(0,0,0,.6);
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.2);
  padding: 5px 10px;
  margin: 6px;
  border-radius: 50%;
  transition: .3s;
}

[data-control="slide"] li a:hover,
[data-control="slide"] li.active-slide a {
  background: rgba(0,0,0,.6);
  color: white;
}

.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.custom-controls div {
  max-width: 50px;
  margin: 20px;
  cursor: pointer;
  opacity: .8;
  transform: scale(.8);
  transition: .5s;
}

.custom-controls div.active-slide {
  opacity: 1;
  transform: scale(1);
}

.custom-controls div img {
  border-radius: 50%;
}